#logInCon{/*styling for the log-in portion of the page*/
	width: 50%;
	text-align:center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-230px; 
    margin-left:-360px;
}

.form-control{
	width: 60%;
	margin: auto;
}

h3{/*styling for the log-in/sign-up headings*/
	font-size: 30px;
	text-decoration: underline;
	font-weight: normal;
}

h4{
	margin: 5% auto 0px auto;
}

#logInHeader{/*styling for the */
	margin-bottom:50px;
}



